name: Build & Publish Notification bridge with Novu

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: |
          docker build \
            --build-arg NPM_TOKEN=${{ secrets.NPM_TOKEN }} \
            -t ghcr.io/${{ github.repository_owner }}/notify:latest .

      - name: Push image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/notify:latest
